[Unit]
Description=DZEM HomeCtrl REST API Service
After=dnsmasq.service homectrl-onair.service
Requires=dnsmasq.service
Wants=homectrl-onair.service

[Service]
Type=simple
User=dzem
Environment="XDG_RUNTIME_DIR=/run/user/1000"
WorkingDirectory=/home/dzem/HOMECTRL/
ExecStart=/home/dzem/HOMECTRL/env/bin/python /home/dzem/HOMECTRL/launcher.py restapi
KillSignal=SIGINT
Restart=always
StandardOutput=append:/home/dzem/HOMECTRL/logs/restapi.log
StandardError=append:/home/dzem/HOMECTRL/logs/restapi.log

[Install]
WantedBy=multi-user.target
