[Unit]
Description=DZEM HomeCtrl WebApp Service
After=multi-user.target

[Service]
Type=simple
User=root
Environment="PORT=80"
WorkingDirectory=/home/dzem/HOMECTRL/webapp/
ExecStart=/usr/bin/npm start
KillSignal=SIGINT
Restart=always
StandardOutput=append:/home/dzem/HOMECTRL/logs/webapp.log
StandardError=append:/home/dzem/HOMECTRL/logs/webapp.log


[Install]
WantedBy=multi-user.target
