[Unit]
Description=DZEM HomeCtrl URoom Device
After=network-online.target nss-lookup.target
Requires=network-online.target nss-lookup.target

[Service]
Type=simple
User=dzem
Environment="XDG_RUNTIME_DIR=/run/user/1000"
WorkingDirectory=/home/dzem/HOMECTRL/
ExecStartPre=/bin/sh -c 'until getent hosts status.home; do sleep 1; done'
ExecStart=/home/dzem/HOMECTRL/env/bin/python /home/dzem/HOMECTRL/launcher.py uroom
KillSignal=SIGINT
Restart=always
RestartSec=5
StandardOutput=append:/home/dzem/HOMECTRL/logs/uroom.log
StandardError=append:/home/dzem/HOMECTRL/logs/uroom.log

[Install]
WantedBy=multi-user.target
