[Unit]
Description=DZEM HomeCtrl get weather Service
After=network-online.target mosquitto.service
Requires=network-online.target

[Service]
Type=simple
User=dzem
Environment="XDG_RUNTIME_DIR=/run/user/1000"
WorkingDirectory=/home/dzem/HOMECTRL/
ExecStart=/home/dzem/HOMECTRL/env/bin/python /home/dzem/HOMECTRL/launcher.py weather
KillSignal=SIGINT
Restart=always
StandardOutput=append:/home/dzem/HOMECTRL/logs/weather.log
StandardError=append:/home/dzem/HOMECTRL/logs/weather.log

[Install]
WantedBy=multi-user.target
