[Unit]
Description=DZEM HomeCtrl Charts Generator
After=postgresql.service
Requires=postgresql.service

[Service]
Type=simple
User=dzem
Environment="XDG_RUNTIME_DIR=/run/user/1000"
WorkingDirectory=/home/dzem/HOMECTRL/
ExecStart=/home/dzem/HOMECTRL/env/bin/python /home/dzem/HOMECTRL/launcher.py charts
KillSignal=SIGINT
Restart=always
StandardOutput=append:/home/dzem/HOMECTRL/logs/charts.log
StandardError=append:/home/dzem/HOMECTRL/logs/charts.log

[Install]
WantedBy=multi-user.target
